* {
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;
    text-align: center;

    gap: 2rem;

    height: 100vh;
    margin: 0;
}

.gradient-bg {
    background: rgb(67,28,82);
    background: linear-gradient(45deg, rgba(67,28,82,1) 0%, rgba(9,9,121,1) 0%, rgba(168,69,53,1) 100%);

    color: lightcyan;
}

.text-container {
    display: flex;
    flex-flow: column;

    align-items: flex-start;
    justify-content: center;
}

@media screen and (max-width: 420px) {
    body {
        flex-flow: column;
        text-align: center;
    }

    .text-container {
        align-items: center;
    }
}